:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #e86f54;
  --hover-color: #e25b41;
  --focus-color: #fa6f54;
  --focus-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
  --modal-text-color: #5c5c5c;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  |===============================================================================================================
  | Container styles
  |===============================================================================================================
*/
.list {
  list-style: none;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
/**
  |================================================================================================================
  | COMPONENTS
  |================================================================================================================
*/
/* Базові стилі заголовків секцій (h2) для мобільних */
.section-title {
  font-size: 24px;
  line-height: calc(29 / 24);
}

/* Базові стилі заголовків секцій для планшетів і десктопів */
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 44px;
    line-height: calc(54 / 44);
  }
}

/* Базові стилі кнопок для мобільних екранів */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  border-radius: 38px;
  font-weight: 500;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func);
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:focus {
  background-color: var(--focus-color);
  box-shadow: var(--focus-shadow);
}

/* Базові стилі кнопок для планшетів і десктопів */
@media screen and (min-width: 768px) {
  .btn {
    width: 280px;
    height: 64px;
    font-size: 28px;
    line-height: 24px;
  }
}
