:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #e86f54;
  --hover-color: #e25b41;
  --focus-color: #fa6f54;
  --focus-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
  --modal-text-color: #5c5c5c;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
