.blog-line {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.blog-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.slick {
  display: flex;
  width: 100%;
  margin-bottom: 87px;
}
@media screen and(min-width: 768px) {
  .slick {
    margin-bottom: 103px;
  }
}

.slick-container {
  padding: 0;
}

.slick__list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.slick__item {
  display: block;
  margin-right: 16px;
}

.slick__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.my-slick-prev,
.my-slick-next {
  position: absolute;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 0;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #000000;
}

.my-slick-prev {
  left: 90px;
}

@media screen and (min-width: 768px) {
  .my-slick-prev {
    left: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .my-slick-prev {
    left: 575px;
  }
}

.my-slick-next {
  right: 90px;
}

@media screen and (min-width: 768px) {
  .my-slick-next {
    right: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .my-slick-next {
    right: 575px;
  }
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.subscribe-box-title {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
}
@media screen and (min-width: 768px) {
  .subscribe-box {
    margin-bottom: 101px;
  }
  .subscribe-box-title {
    font-size: 32px;
    line-height: calc(39 / 32);
  }
}

.subscribe-btn {
  margin-top: 24px;
  font-size: 28px;
  line-height: calc(28 / 24);
  color: #ffffff;
  padding: 20px 70px;
}

@media screen and(min-width: 768px) {
  .subscribe-btn {
    margin-top: 32px;
  }
}
