.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

.delivery-line {
    display: flex;
    align-items: center;
    gap: 14px;

    margin-bottom: 32px;
    text-transform: uppercase;
}

.delivery-line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 24px;
      padding-right: 24px;
    }
}
  
 @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 24px;
      padding-right: 24px;
    }
}

.section-title {
    font-size: 24px;
    line-height: calc(29 / 24);
}

@media screen and (min-width: 768px) {
    .section-title {
      font-size: 44px;
      line-height: calc(54 / 44);
    }
}

.number {
    width: 40px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-right: 8px;
}

.text-delivery {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px; 
}

.delivery-item {
    display: flex;
    margin-bottom: 14px;
}

.img-fon {
    width: 320px;
    height: 135px;
    background-image: url('../img/mobile/delivery/image-delivery_mob@1x.jpg');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .img-fon {
        background-image: url('../img/mobile/delivery/image-delivery_mob@1x.jpg');
    }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
    .img-fon {
        background-image: url('../img/mobile/delivery/image-delivery_mob@2x.jpg');
    }
}


@media screen and (max-width: 1280px) {
    .img-fon {
        background-image: url('../img/mobile/delivery/image-delivery_mob@1x.jpg');

    }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (min-resolution: 192dpi),
screen and (min-width: 769px) and (min-resolution: 2dppx) {
    .img-fon {
        background-image: url('../img/tablet/delivery/image-delivery_tab@1x.jpg');
        width: 768px;
        height: 264px;
    }
}

@media screen and (min-width: 1280px) {
    .img-fon {
        background-image: url('../img/desktop/delivery/image-delivery@1x.jpg');
    }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1280px) and (min-resolution: 192dpi),
screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    .img-fon {
        background-image: url('../img/desktop/delivery/image-delivery@2x.jpg');
        width: 1280px;
        height: 391px;
    }
}

@media screen and (min-width: 768px) {
    .delivery-item {
        margin-bottom: 20px;
    }

    .text-delivery {
        font-size: 24px;
        line-height: 29px;
    }

}

@media screen and (min-width: 1280px) {
    .delivery-item {
        margin-bottom: 32px;
    }

    .text-delivery {
        font-size: 32px;
        line-height: 39px;
    }

}