.delivery-line {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 32px;
  text-transform: uppercase;
}

.delivery-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.delivery-list {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .delivery-list {
    padding-top: 60px;
    padding-left: 24px;
    padding-right: 67px;
    padding-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .delivery-list {
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 60px;
    }
}

.section-title {
  font-size: 24px;
  line-height: calc(29 / 24);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 44px;
    line-height: calc(54 / 44);
  }
}

.number {
  width: 40px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 50%;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
    .number {
      width: 64px;
      height: 64px;
      font-size: 26px;
      padding: 16px 27px;
    }
}

.text-delivery {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.delivery-item {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}

.img-fon {
  width: 100%;
  height: 135px;
  background-image: url('/img/mobile/delivery/image-delivery_mob@1x.jpg');
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .img-fon {
    background-image: url(/img/mobile/delivery/image-delivery_mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .img-fon {
    background-image: url(/img/tablet/delivery/image-delivery_tab@1x.jpg);
    height: 264px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .img-fon {
      background-image: url(/img/tablet/delivery/image-delivery_tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .img-fon {
    background-image: url(/img/desktop/delivery/image-delivery@1x.jpg);
    height: 391px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .img-fon {
      background-image: url(/img/desktop/delivery/image-delivery@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .delivery-item {
    margin-bottom: 20px;
  }

  .text-delivery {
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-item {
    margin-bottom: 32px;
  }

  .text-delivery {
    font-size: 32px;
    line-height: 39px;
  }
}
