.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}
  
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 24px;
      padding-right: 24px;
    }
}
  
 @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 24px;
      padding-right: 24px;
    }
}

.section-title {
    font-size: 24px;
    line-height: calc(29 / 24);
}

@media screen and (min-width: 768px) {
    .section-title {
      font-size: 44px;
      line-height: calc(54 / 44);
    }
}

.number {
    width: 40px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.delivery-item {
    display: flex;
}