
.header {
  position: absolute;
  top: 16px;
  z-index: 100;
  width: 100%;
}


.header-box {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.heder-icons-wrap {
  display: flex;
  gap: 18px;
}

.header-contact {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  padding: 0;
}

.header-phone {
  width: 100%;
  height: 100%;
}

.burger-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* ========Tablet styles=========== */
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header {
    top: 24px;
  }
  .header-box {
    align-items: center;
  }
  .navigation {
    display: block;
  }

  .logo-header {
    width: 72px;
    height: 57px;
  }

  .navigation-list {
    display: flex;
    gap: 24px;
  }

  .navigation-list-link {
    font-size: 20px;
    line-height: calc(24 / 20);
    text-decoration: none;
    color: inherit;
  }
  .header-contact {
    width: 24px;
    height: 24px;
  }

  .header-phone {
    margin-left: auto;
  }
  .icon-tel-mob {
    width: 22px;
    height: 22px;
  }
}
/* ========Desktop styles=========== */
@media screen and (min-width: 1280px) {
  .navigation-list {
    gap: 48px;
  }

  .header-contact {
    width: 28px;
    height: 28px;
  }
}
