.hero {
  position: relative;
  margin: 0 auto;
}

.hero-container {
  position: relative;
  z-index: 10;
   /* max-width: 320px; */
  height: 389px;
/*   
   height: 100%;  */
  /* margin: 0 auto;
  padding: 0 16px;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .hero-container {
   /* max-width: 720px; */
    height: 825px; 
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
     /* max-width: 1280px; */
    height: 878px; 
  }
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
  animation: move-vertical 1000ms ease-out 1000ms both;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 120px;
    line-height: calc(146 / 120);
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 160px;
    line-height: calc(195 / 160);
    transform: translateX(-50%);
  }
}
.hero-title::after {
  content: '';
  position: absolute;

  background-color: currentColor;
  width: 20px;
  height: 2px;
  right: 7px;
  top: 5px;
}
@media screen and (min-width: 768px) {
  .hero-title::after {
    width: 42px;
    height: 5px;
    right: 16px;
    top: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title::after {
    right: 21px;
    top: 20px;
    width: 58px;
    height: 8px;
  }
}
.hero-badge {
  width: 46px;
  margin-left: 220px;
  margin-right: 70px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  animation: vertical-slide 1000ms ease-out 1000ms both;
}
@media screen and (min-width: 768px) {
  .hero-badge {
    width: 76px;
    margin-right: 0;
    margin-left: 200px;
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}
@media screen and (min-width: 1280px) {
  .hero-badge {
    width: 102px;
    font-size: 32px;
    line-height: 39px;
    margin-left: 250px;
  }
}

.hero-btn {
  /* width: 64px;
  height: 76px; */
  background-color: transparent;
  border: none;
  animation: vertical-swipe 1000ms ease-out 1000ms both;
}
@media screen and (min-width: 768px) {
  .hero-btn {
    /* width: 166px;
    height: 166px; */
    margin-right: 150px;
  }
}

.hero-icon-circle {
  transform-origin: center;
  animation: infinity-rotate 30s linear 4s infinite;
}
.hero-btn:focus .hero-icon-circle
.hero-btn:hover .hero-icon-circle {
  animation-play-state: paused;
}

.hero-icon-arrow {
  transform-origin: center;
  transition: transform 500ms ease-out;
}
.hero-btn:focus .hero-icon-arrow
.hero-btn:hover .hero-icon-arrow {
  transform: rotate(-122deg);
}
.hero-shape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  animation: scale-up-center 1000ms ease-out 1000ms both;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes scale-up-center {
  0% {
    clip-path: inset(70px 100px 70px 100px round 100px);
  }
  50% {
    clip-path: inset(60px 70px 60px 70px round 100px);
  }
  100% {
    clip-path: inset(0 round 0);
  }
}

@media screen and (min-width: 768px) {
  @keyframes scale-up-center {
    0% {
      clip-path: inset(150px 200px 130px 200px round 180px);
    }
    50% {
      clip-path: inset(110px 150px 120px 110px round 180px);
    }
    100% {
      clip-path: inset(0 round 0);
    }
  }
}
@media screen and (min-width: 1280px) {
  @keyframes scale-up-center {
    0% {
      clip-path: inset(150px 421px 92px 421px round 226px);
    }
    50% {
      clip-path: inset(150px 345px 92px 345px round 226px);
    }
    100% {
      clip-path: inset(0 round 0);
    }
  }
}
@keyframes move-vertical {
  from {
    transform: translateX(var(--shift-from-x, -50%))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -50%))
      translateY(var(--shift-to-y, -160px));
    color: #fff;
    fill: #fff;
  }
}
@media screen and (min-width: 768px) {
  @keyframes move-vertical {
    from {
      transform: translateX(var(--shift-from-x, -50%))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, -50%))
        translateY(var(--shift-to-y, -330px));
      color: #fff;
      fill: #fff;
    }
  }
}

@media screen and (min-width: 1280px) {
  @keyframes move-vertical {
    from {
      transform: translateX(var(--shift-from-x, -50%))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, -50%))
        translateY(var(--shift-to-y, -355px));
      color: #fff;
      fill: #fff;
    }
  }
}
@keyframes vertical-slide {
  from {
    transform: translateX(var(--shift-from-x, -200px))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -200px))
      translateY(var(--shift-to-y, 100px));
    color: #fff;
    fill: #fff;
  }
}
@media screen and (min-width: 768px) {
  @keyframes vertical-slide {
    from {
      transform: translateX(var(--shift-from-x, -170%))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, -170px))
        translateY(var(--shift-to-y, 170px));
      color: #fff;
      fill: #fff;
    }
  }
}
@media screen and (min-width: 1280px) {
  @keyframes vertical-slide {
    from {
      transform: translateX(var(--shift-from-x, -50%))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, -90px))
        translateY(var(--shift-to-y, 170px));
      color: #fff;
      fill: #fff;
    }
  }
}
@keyframes vertical-swipe {
  from {
    transform: translateX(var(--shift-from-x, -100px))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -100px))
      translateY(var(--shift-to-y, 100px));
    color: #fff;
    fill: #fff;
  }
}
@media screen and (min-width: 768px) {
  @keyframes vertical-swipe {
    from {
      transform: translateX(var(--shift-from-x, 120px))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, 120px))
        translateY(var(--shift-to-y, 170px));
      color: #fff;
      fill: #fff;
    }
  }
}
@media screen and (min-width: 1280px) {
  @keyframes vertical-swipe {
    from {
      transform: translateX(var(--shift-from-x, 25px))
        translateY(var(--shift-from-y, 0));
    }
    to {
      transform: translateX(var(--shift-to-x, 25px))
        translateY(var(--shift-to-y, 170px));
      color: #fff;
      fill: #fff;
    }
  }
}

@keyframes infinity-rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
.hero-icon {
  display: block;
  width: 64px;
  height: 76px;
}
@media screen and (min-width: 768px) {
  .hero-icon {
    width: 145px;
    height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-icon {
    width: 166px;
    height: 166px;
  }
}

.hero-icon-circle {

}
.hero-icon-arrow {

}
