/* Базові стилі заголовків секцій (h2) для мобільних */
.section-title {
    font-size: 24px;
    line-height: calc(29 / 24);
  }
  
  /* Базові стилі заголовків секцій для планшетів і десктопів */
  @media screen and (min-width: 768px) {
    .section-title {
      font-size: 44px;
      line-height: calc(54 / 44);
    }
  }
  