<section id="about">
  <div class="container">
  <h2 class="section-title about-title">ABOUT</h2>
  <p class="about-text">We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give people the beauty and
    joy
    creating stylish and modern masterpieces. Every bouquet we create is unique as you are.</p> 
    <picture>
                              <source srcset="
                                ./img/desktop/about/about_desktop@1x.webp 1x,
                                ./img/desktop/about/about_desktop@2x.webp 2x
                              " media="(min-width:1200px)" type="image/webp" />
                              <source srcset="
                                ./img/desktop/about/about_desktop@1x.jpg 1x,
                                ./img/desktop/about/about_desktop@2x.jpg 2x
                              " media="(min-width:1200px)" />
                              <source srcset="
                                            ./img/tablet/about/about_tab@1x.webp 1x,
                                            ./img/tablet/about/about_tab@2x.webp 2x
                                          " media="(min-width:768px)" type="image/webp" />
                              <source srcset="
                                            ./img/tablet/about/about_tab@1x.jpg 1x,
                                            ./img/tablet/about/about_tab@2x.jpg 2x
                                          " media="(min-width:768px)" />
                              
                              <source srcset="
                                            ./img/mobile/about/about_mobile@1x.webp 1x,
                                            ./img/mobile/about/about_mobile@2x.webp 2x
                                          " media="(min-width:320px)" type="image/webp" />
                              <source srcset="
                                            ./img/mobile/about/about_mobile@1x.jpg 1x,
                                            ./img/mobile/about/about_mobile@2x.jpg 2x
                                          " media="(min-width:320px)" />
   <img src="./img/mobile/about/about_mobile@2x.jpg">

    </picture>
  </div>
</section>
