<section class="section-wrap" id="about">
  <div class="container container-about">
    <h2 class="title title-about">About</h2>
    <div class="about-wrapper">
      <p class="about-description">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <picture>
        <source media="(min-width: 1280px)" srcset="
            ./img/desktop/about/about_desktop@1x.jpg 1x,
            ./img/desktop/about/about_desktop@2x.jpg  2x
          " />
        <source srcset="
            ./img/desktop/about/about_desktop@1x.webp 1x,
            ./img/desktop/about/about_desktop@2x.webp 2x
          " media="(min-width:1280px)" type="image/webp" />
        <source media="(min-width: 768px)" srcset="
            ./img/tablet/about/about_tab@1x.jpg 1x,
            ./img/tablet/about/about_tab@2x.jpg2x
          " />
        <source srcset="
            ./img/tablet/about/about_tab@1x.webp 1x,
            ./img/tablet/about/about_tab@2x.webp 2x
          " media="(min-width:768px)" type="image/webp" />
        <source media="(max-width: 767px)" srcset="
            ./img/mobile/about/about_mobile@1x.jpg 1x,
            ./img/mobile/about/about_mobile@2x.jpg  2x
          " />
        <source srcset="
            ./img/mobile/about/about_mobile@1x.webp 1x,
            ./img/mobile/about/about_mobile@2x.webp 2x
          " media="(max-width: 767px)" type="image/webp" />
        <img class="about-img" src="./img/mobile/about/about_mobile@1x.jpg 1x" alt="picture of flowers" width="288"
          height="178" loading="lazy" />
      </picture>
    </div>
  </div>
</section>