<section>
  <div class="container">
    <h2>Blog</h2>
    <hr />
    <div class="slick">
      <div>
        <picture>
          <source srcset="#" />
          <img src="" alt="green plants" />
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="#" />
          <img src="" alt="orange calla lily" />
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="#" />
          <img src="" alt="blue iris" />
        </picture>
      </div>
    </div>

    <div>
      <h3>Follow to our newsletter</h3>
      <button type="button" class="btn js-open-modal" data-modal="2">Subscribe</button>
    </div>
  </div>
</section>
