<section class="section-wrap">
  <div class="container">
      <h2>Delivery</h2>
      <hr />
      <ul class="delivery-list">
        <li class="delivery-item">
          <span class="number">1</span>
          <p class="text">Choose your bouquet and make an order on website</p>
        </li>
        <li class="delivery-item">
          <span class="number">2</span>
          <p class="text">
            Wait for the call to clarify the details of the order. You can pay
            online or to the courier
          </p>
        </li>
        <li class="delivery-item">
          <span class="number">3</span>
          <p class="text">
            Wait for the delivery at the selected time or pick up the order from the
            store
          </p>
        </li>
        <li class="delivery-item">
          <span class="number">4</span>
          <p class="text">Make someone happy or enjoy yourself</p>
        </li>
      </ul>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhFj9bGiDT1nwnuzoasT0-cExZ2_pzFxoc8g&usqp=CAU"
        alt="Flowers photo"
      />
  </div>    
</section>
