<section>
  <h2>Delivery</h2>
  <hr />
  <ul>
    <li>
      <span>1</span>
      <p>Choose your bouquet and make an order on website</p>
    </li>
    <li>
      <span>2</span>
      <p>
        Wait for the call to clarify the details of the order. You can pay
        online or to the courier
      </p>
    </li>
    <li>
      <span>3</span>
      <p>
        Wait for the delivery at the selected time or pick up the order from the
        store
      </p>
    </li>
    <li>
      <span>4</span>
      <p>Make someone happy or enjoy yourself</p>
    </li>
  </ul>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhFj9bGiDT1nwnuzoasT0-cExZ2_pzFxoc8g&usqp=CAU"
    alt="Flowers photo"
  />
</section>
