<section>
  <h2>Delivery</h2>
  <div>
      <ol>
          <li>
              <p>Choose your bouquet and make an order on website</p>
          </li>
          <li>
              <p>Wait for the call to clarify the details of the order.
                  You can pay online or to the courier</p>
          </li>
          <li>
              <p>Wait for the delivery at the selected time or pick up
                  the order from the store</p>
          </li>
          <li>
              <p>Make someone happy or enjoy yourself</p>
          </li>
      </ol>
  </div>
  <div>
      <img src="./images/delivery.jpg" />
  </div>
</section>