<header class="header header-js">
  <div class="container header-box">
    <a href="./index.html" class="logo">
      <svg class="logo-header" width="45" height="35">
        <use href="./img/svg_sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="navigation-list list">
        <li class="navigation-list-item">
          <a href="#hero" class="navigation-list-link">Anemone</a>
        </li>
        <li class="navigation-list-item">
          <a href="#about" class="navigation-list-link">About us</a>
        </li>
        <li class="navigation-list-item">
          <a href="#store" class="navigation-list-link">Store</a>
        </li>
        <li class="navigation-list-item">
          <a href="#delivery" class="navigation-list-link">Delivery</a>
        </li>
        <li class="navigation-list-item">
          <a href="#blog" class="navigation-list-link">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="heder-icons-wrap">
      <button class="header-contact" type="button">
        <a href="tel:111111111" class="header-phone">
          <svg class="icon-tel-mob" width="22" height="22">
            <use href="./img/svg_sprite.svg#icon-tel"></use>
          </svg>
        </a>
      </button>

      <button
        type="button"
        class="burger-btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-open-icon" width="24" height="24">
          <use href="./img/svg_sprite.svg#icon-Burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
