<section class="hero">
  <div class="hero-container container ">
    <h1 class="hero-title" >ANEMONE</h1>
    <h2 class="hero-badge" >flower studio</h2>
    <button class="hero-btn" type="button">
      <svg class="hero-icon">
        <use class="hero-icon-circle" href="../img/svg_sprite.svg#icon-logo-sircle"></use>
        <use class="hero-icon-arrow" href="../img/svg_sprite.svg#icon-logo-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="hero-shape">
    <img class="hero-img" src="https://raw.githubusercontent.com/YK911/flower-studio-assets/main/hero-bg.jpg" alt="Flower studio preview">
  </div>
</section>