<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title" >ANEMONE</h1>
    <p class="hero-badge" >flower studio</p>
    <button class="hero-btn" type="button">
      <svg class="hero-icon">
        <use href="#btn-txt"></use>
        <use href="#btn-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="hero-shape">
    <img class="hero-img" src="https://raw.githubusercontent.com/YK911/flower-studio-assets/main/hero-bg.jpg" alt="Flower studio preview">
  </div>
</section>