<div class="container">
  <div class="menu js-menu-container" id="mobile-menu">
    <button class="menu__button js-close-menu">
      <svg class="menu__icon" width="24" height="24">
        <use href="./img/svg_sprite.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="menu__nav">
      <ul class="menu__nav-list list">
        <li class="menu__nav-item">
          <a href="./index.html" class="menu__nav-link js-close-menu link"
            >Anemone</a
          >
        </li>
        <li class="menu__nav-item">
          <a href="./index.html#about" class="menu__nav-link js-close-menu link"
            >About us</a
          >
        </li>
        <li class="menu__nav-item">
          <a href="./index.html#store" class="menu__nav-link js-close-menu link"
            >Store</a
          >
        </li>
        <li class="menu__nav-item">
          <a
            href="./index.html#delivery"
            class="menu__nav-link js-close-menu link"
            >Delivery</a
          >
        </li>
        <li class="menu__nav-item">
          <a href="./index.html#blog" class="menu__nav-link js-close-menu link"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
