<section class="selection-wrap">
  <div class="container">
    <h2 class="section-title store-title">Store</h2>

    <ul class="store-list list">
      <li class="store-list-item">
        <picture>
          <source srcset="#">
          <img src="#" alt="compliments">
        </picture>
        <h3 class="store-list-item-title">compliments</h3>
        <p class="store-list-item-text">from $15</p>
      </li>

      <li class="store-list-item">
        <picture>
          <source srcset="#">
          <img src="#" alt="bouquets size S">
        </picture>
        <h3 class="store-list-item-title">bouquets size S</h3>
        <p class="store-list-item-text">from $25</p>
      </li>

      <li class="store-list-item">
        <picture>
          <source srcset="#">
          <img src="#" alt="bouquets size M">
        </picture>
        <h3 class="store-list-item-title">bouquets size M</h3>
        <p class="store-list-item-text">from $45</p>
      </li>

      <li class="store-list-item">
        <picture>
          <source srcset="#">
          <img src="#" alt="bouquets size L">
        </picture>
        <h3 class="store-list-item-title">bouquets size L</h3>
        <p class="store-list-item-text">from $60</p>
      </li>
    </ul>

    <button type="button" class="btn store-btn">Order flowers</button>

  </div>
</section>