<section>
  <div class="container">
    <h2>Store</h2>

    <ul class="store-list list">
      <li class="item">
        <picture>
          <source srcset="#">
          <img src="#" alt="compliments">
        </picture>
        <h3>compliments</h3>
        <p>from $15</p>
      </li>

      <li class="item">
        <picture>
          <source srcset="#">
          <img src="#" alt="bouquets size S">
        </picture>
        <h3>bouquets size S</h3>
        <p>from $25</p>
      </li>

      <li class="item">
        <picture>
          <source srcset="#">
          <img src="#" alt="bouquets size M">
        </picture>
        <h3>bouquets size M</h3>
        <p>from $45</p>
      </li>

      <li class="item">
        <picture>
          <source srcset="#">
          <img src="#" alt="bouquets size L">
        </picture>
        <h3>bouquets size L</h3>
        <p>from $60</p>
      </li>
    </ul>

    <button type="button" class="btn">Order flowers</button>

  </div>
</section>